<div class="lmargin"></div>
<div class="index">
	<br />
	<div class="editBox">
		<form method="post" action="/questions">
			Title:<br /><input type="text" name="question[title]"><br />
			Tags:<br /><input type="text" name="question[tag]" placeholder="separate each tag with a comma"><br />
		  Description:<br /><textarea name="question[description]" rows="10" cols="50"></textarea><br />
			<input type="submit" value="Ask">
		</form>
	</div>
</div>
<div class="rmargin"></div>